<!-- Three -->
<section id="three" class="wrapper style2 special">
	<header class="major">
		<h2>Coming Soon</h2>
		<p>Add us to your mailing list and we will reach out as soon<br />
		as we are live and ready to deliver to your location.</p>
	</header>

	<form method="post" action="#">
		<div class="centered"><input type="email" name="demo-email" id="demo-email" value="" placeholder="Email" /></div>
	</form>

	<ul class="actions">
		<li><a href="{{ site.email_subscribe_url }}" class="button special icon fa-envelope">Email Me</a></li>
	</ul>
</section>
